#include "resource.h"
#include <winres.h>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

IDD_CustomOpenDialog DIALOGEX -1, -1, OF_WIDTHINIT, OF_HEIGHTINIT
STYLE DS_CENTER | DS_SETFONT | DS_3DLOOK | DS_CONTROL | WS_CHILD | WS_CAPTION | WS_TABSTOP
EXSTYLE WS_EX_TOPMOST
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "&Select",ID_CUSTOM_SELECT,7,0,50,14
    PUSHBUTTON      "&Open",ID_CUSTOM_OPEN,30,0,50,14,WS_DISABLED
    PUSHBUTTON      "&Cancel",ID_CUSTOM_CANCEL,60,0,50,14
END

